@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

html,
body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  font-family: "Fira Mono", monospace;
  font-size: 1.75rem;
  color: #333333;
  background-color: #fafafa;
}

@media screen and (max-width: 900px) {
  body {
    font-size: 1.33rem;
  }
}

.page {
  min-height: 100vh;
}

.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
